.logoWrapper {
  display: flex;
  align-items: center;
  gap: 6px;
  width: max-content;
  height: max-content;
}

.logoWrapper:hover {
  cursor: pointer;
}

.logo {
  width: 30px;
  height: 30px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  user-select: none;
  color: var(--white);
  font-family: var(--momo);
}
